/node_modules
/public/hot
/public/storage
/public/uploads/avatars
/storage/*.key
/vendor
/udemy-course-blog-template-files-master
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
